@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
	:root {
		--color-bkg: 0deg 0% 100%;
		--colors-fog-100: 225deg 14% 95%;
		--colors-fog-200: 225deg 5% 85%;
		--colors-fog-300: 225deg 3% 75%;
		--colors-fog-400: 225deg 2% 65%;
		--colors-fog-500: 225deg 2% 55%;
		--colors-fog-600: 225deg 2% 45%;
		--colors-sun: 25deg 100% 62%;
		--colors-servette: 340deg 88% 50%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
		  --color-bkg: 225deg 2% 45%;
		  --colors-fog-100: 210deg 8% %;
		  --color-content: 210deg 40% 98%;
		}
	}
	:root[data-theme="dark"] {
		--color-bkg: 0deg 0% 0%;
		--color-content: 210deg 40% 98%;
	}

	html {
		font-family: "contentFont", system-ui, sans-serif;
		font-weight: 400;
		height: 100%;
	}
}

/* playfair-display-800 - latin */
@font-face {
	font-display: swap; 
	font-family: 'headingFont';
	font-style: normal;
	font-weight: 800;
	src: url('/playfair-display-v30-latin-800.woff2') format('woff2')
}

/* quicksand-400 - latin */
@font-face {
	font-display: swap; 
	font-family: 'contentFont';
	font-style: normal;
	font-weight: 400;
	src: url('/quicksand-v30-latin-regular.woff2') format('woff2')
}

/* quicksand-600 - latin */
@font-face {
	font-display: swap; 
	font-family: 'leadFont';
	font-style: normal;
	font-weight: 700;
	src: url('/quicksand-v30-latin-600.woff2') format('woff2')
}

.header-max-width  {
	width: min(1536px, 90vw);
}

.max-width {
	width: min(1200px, 90vw);
}

@media (min-width: 1024px){
	.extra-tight {
		line-height: 1.075 !important;
	}
}

[datetime] {
	margin-bottom: 0.5rem;
	display: block;
}

[data-fix="bg-fog-100"] {
	background-color: rgba(239, 240, 243,0.9);
	backdrop-filter: blur(4px);
}

[data-fix="bg-white"] {
	background-color: rgba(255, 255, 255,0.9);
	backdrop-filter: blur(4px);
}

/* Improve Page speed */
/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
img {
	content-visibility: auto;
}