@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--colors-fog-100: #eff0f3;
		--colors-fog-200: #D6D7DA;
		--colors-fog-300: #BCBDC0;
		--colors-fog-400: #A3A4A7;
		--colors-fog-500: #898A8D;
		--colors-fog-600: #707174;
		--colors-fog-700: #666;
		--colors-sun: #ff8e3c;
		--colors-servette: #e10c53;
	}
	
	html {
		font-family: var(--contentFont), system-ui, sans-serif;
		font-weight: 400;
		height: 100%;
	}
}

.header-max-width  {
	width: min(1536px, 90vw);
}

.max-width {
	width: min(1200px, 90vw);
}

@media (min-width: 1024px){
	.extra-tight {
		line-height: 1.075 !important;
	}
}

[datetime] {
	margin-bottom: 0.5rem;
	display: block;
}

[data-fix="bg-fog-100"] {
	background-color: hsla(225, 14%, 95%, 0.9);
	backdrop-filter: blur(4px);
}

[data-fix="bg-white"] {
	background-color: hsla(0, 0%, 100%, 0.9);
	backdrop-filter: blur(4px);
}

  /* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 6ex;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* When the element becomes visible, apply the 'visible' class */
.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

.hero {
	aspect-ratio: 1440/720;
}