---
interface FaqItem {
  question: string;
  answer: string;
}

interface Props {
  faqs: FaqItem[];
}

const { faqs } = Astro.props as Props;

const schemaJson = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": faqs.map((faq) => ({
    "@type": "Question",
    "name": faq.question,
    "acceptedAnswer": {
      "@type": "Answer",
      "text": faq.answer,
    },
  })),
};
---

<div class="faq">
  <script type="application/ld+json" set:html={JSON.stringify(schemaJson)}></script>

  <div>
    <hr class="border-fog-700" />
    {faqs.map((faq, index) => (
      <details
        class="group m-0" data-detail="accordion-styled"
      >
        <summary class="m-0 py-4 md:py-6 cursor-pointer font-leadFont text-xl md:text-2xl text-gray-800 group-open:text-servette transition-colors">
          {faq.question}
        </summary>
        <p class="mt-0 pb-6 text-l md:text-xl" set:html={faq.answer} />
      </details>
    ))}
  </div>
</div>


<style>

    details {
        border-bottom: 1px solid var(--colors-fog-700);
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary {
        display: flex;
        align-items: center;
        width: 100%;
        outline: none;
    }

    details summary:before,
    details summary:after {
        line-height: 1;
    }

    
  [data-detail="accordion-styled"] {
    
    summary:before,
    [open] summary:before {
      display: none;
    }

    summary {
      justify-content: space-between;
    }

    summary:after {
      position: relative;
      top: 2px;
      content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bi1pY29uIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==");
    }

    &[open] summary:after {
      content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tdXAtaWNvbiBsdWNpZGUtY2hldnJvbi11cCI+PHBhdGggZD0ibTE4IDE1LTYtNi02IDYiLz48L3N2Zz4=");
    }
}

</style>