---
import { Picture } from '@astrojs/image/components';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Cards from '@/components/widgets/Cards.astro';
import Clients from '@/components/widgets/Clients.astro';
import Stats from '@/components/widgets/Stats.astro';
import Timeline from '@/components/widgets/Timeline.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import placeHolder from '/public/photo-about.jpg';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="About" description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col bg-fog-100 dark:bg-primary-dark text-gray-800 dark:text-primary-light">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-fog-100 dark:bg-primary-dark py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-fog-100" />
	
		<main class="flex-grow flex-shrink-0">
			<section id="intro" class="py-4 xl:py-8 mb-8">
				<article class="max-width mx-auto">
					<Picture class="mb-5 lg:mb-10" src={placeHolder} widths={[320, 640, 1200]} aspectRatio="1200:600" width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp']}  fit={'cover'}  alt="about me" />
					<div class="prose lg:prose-2xl lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">my mission</h2>
						<p>
							Responsible for the technical implementation of websites in HTML, CSS, Javascript and various CMS frameworks. I am also responsible for the preparation and publication of content. Where it is appropriate, I optimise thre workflows and also rethink every little detail like SEO and pagespeed to complete the projects with full satisfaction.
						</p>

					</div>
				</article>
			</section>

			<section id="timeline" class="py-8 xl:pt-16 bg-white dark:bg-primary-dark">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">resume</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4 text-gray-800">
							Here is my education, work experience, & some skills I've got.
						</p>
					</div>

					<Timeline
						title="professional career"
						subtitle="competences & strengths"
						items={[
							[
								{
									title: 'MySign AG',
									business:'Front-end developer',
									time:'August 2012 - Present',
									description:'Responsible for the implementation of websites in HTML, CSS, Javascript and Java (MySign CMS). Proactive introduction of new technologies to improve the quality of projects. Improve website efficiency in terms of SEO & pagespeed.'
								},
								{
									title: 'Insign AG',
									business:'Web-Publisher & Designer',
									time:'2008 – 2012',
									description:'Responsible for the technical implementation and design. Always striving for high quality and user-friendliness. Wide range of tools used. Including Wordpress, Typo3 and Magento, depending on client requirements and needs.',
								},
								{
									
									title: 'Gravure & Offset Printer',
									time:'until 2008',
									description:'Various stations through packaging and art industry as gravure & offset printer. Last station in Zofingen.',
								}
							],
							[
								{
									title: 'Page Speed',
									description:'Conduct comprehensive pagespeed audits for websites to identify opportunities for improvement and provide actionable insights. Evaluating factors such as compression, image optimisation, script loading and mobile optimisation. <br /><br />Working with designers and digital agencies to develop page speed optimisation services and ensure that aspects of page speed are considered in the early stages of development.',
								},
								{
									title: 'Search Engine Optimization (SEO)',
									description:'User experience is an integral part of SEO. Search engines aim to deliver the best possible results to users, so they consider factors such as website accessibility, navigation, and mobile responsiveness. Providing a seamless and user-friendly experience on your website can positively impact search engine rankings.',
								},
								{
									title: 'Open to new ideas and contributions',
									description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
								}
							]
						]}
					/>
				</article>
			</section>



			<section id="stats" class="pb-8 xl:pb-12 bg-white dark:bg-primary-dark">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<div class="md:px-12">
							<h2 class="!mt-0 !mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl timeline__title">Skills & Expertise </h2>
						</div>
							
					</div>

					<Stats
						items={[
						{ name: 'Downloads', value: '100' },
						{ name: 'Stars', value: '24' },
						{ name: 'Forks', value: '10' },
						{ name: 'Users', value: '48' },
						]}
					/>
				</article>
			</section>



			<section id="clients" class="clients pb-10 xl:pb-20 bg-white dark:bg-primary-dark">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mt-0 !mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl timeline__title">Selected clients whose website I was involved in</h2>
					</div>

					<Clients
						items={[
							
							{ name: 'Baur au Lac', url: 'https://www.bauraulac.ch' },
							{ name: 'Allgeier-Inovar', url: 'https://www.allgeier-inovar.de' },
							{ name: 'Flyerline', url: 'https://www.flyerline.ch' },
							{ name: 'Mapo', url: 'https://www.mapo.ch' },
							{ name: 'Baur au Lac Vins', url: 'https://www.bauraulacvins.ch' },
							{ name: 'Buechehof', url: 'https://www.buechehof.ch' },
							{ name: 'Stadtbibliothek Basel', url: 'https://www.stadtbibliothekbasel.ch' },
							{ name: 'Santalucia-Lieferservice', url: 'https://www.santalucia-lieferservice.ch' },
							{ name: 'Fust', url: 'https://www.fust.ch' },
						]}
					/>

				</article>
			</section>

			<section id="works" class="pt-8 pb-20 xl:pt-16 xl:pb-28  bg-stone-800 dark:bg-primary-dark relative">
				<article class="max-width mx-auto lg:mb-16">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl text-white">Selected Projects</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4 text-white">
							I love the Funk! Get some Bootsie & James Brown!
						</p>
					</div>
				</article>
				
				<Cards
					items={[
						{ name: 'Downloads', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Stars', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' }, 
						{ name: 'Forks', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Users', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Digger', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Foundation', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Awesome', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
						{ name: 'Blower', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip', placeHolder: 'photo-index.jpg' },
					]}
				/>


				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-white w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
					<polygon points="100 0 100 10 0 10"></polygon>
				</svg>
			</section>
		</main>
		<Footer footerClass="bg-white dark:bg-primary-dark flex justify-center py-10" />
	</body>
</html>


<style>


.skill-bars {
	--bar-padding: var(--timeline-left-padding);
	margin-top: var(--vspace-2_5);
	display: flex;
	flex-flow: row wrap;
}

</style>