---
import { Picture } from '@astrojs/image/components';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Cards from '@/components/widgets/Cards.astro';
import Clients from '@/components/widgets/Clients.astro';
import Stats from '@/components/widgets/Stats.astro';
import Timeline from '@/components/widgets/Timeline.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import placeHolder from '/public/images/photo-about.webp';
import video from '/public/video/mereal.mp4';
import poster from '/public/images/poster.webp';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="My Journey" description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col bg-fog-100">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-fog-100 py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-fog-100" />
	
		<main class="flex-grow flex-shrink-0">
			<section id="intro" class="py-4 xl:py-8 mb-8">
				<article class="max-width mx-auto">
					<Picture class="mb-6 lg:mb-14" src={placeHolder} widths={[320, 640, 1200]} aspectRatio="1200:600" width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp']}  alt="about me" />
					<div class="lg:prose-2xl about-grid">
						<div>
							<h1 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-3xl !lg:text-4xl">Michel Maillard – Frontend Web Developer and Online Marketing Manager</h1>
							<p>My extensive knowledge in the technical implementation of websites, including HTML, CSS and Javascript, as well as expertise in various CMS frameworks. The passion for targeted online marketing is evident in the development and implementation of successful SEO strategies and ads campaigns that significantly increase the visibility and reach of customer projects.</p>
							<p>I also have in-depth knowledge of content strategy and community management, which enables me to develop tailored solutions that are based on sound target group analysis and strengthen brand identity. My analytical approach to KPI reports and trend analysis allows me to continuously monitor and optimise the effectiveness of marketing measures.</p>
						</div>
						<video controls preload="metadata">
							<source src={video} type="video/mp4">
						  Your browser does not support the video tag.
						</video> 
					</div>
				</article>
			</section>

			<section id="timeline" class="py-8 xl:pt-16 bg-white">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">Resume</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4">Here is my education, work experience, & some skills I've got.</p>
					</div>

					<Timeline
						title="Professional Career"
						subtitle="Competences & Strengths"
						items={[
							[
								{
									title: '.hausformat GmbH',
									business:'Digital Marketing Manager',
									time:'Mai 2024 - Juli 2024',
									description:'Customer care in the area of SEO and ads campaigns. Development of social media strategies & analyses with KPI reports. Supporting the team as a web developer in the implementation of websites with TYPO3 CMS.'
								},
								{
									title: 'MySign AG',
									business:'Frontend Developer',
									time:'August 2012 - March 2024',
									description:'Responsible for the implementation of websites in HTML, CSS, Javascript and Java (MySign CMS). Proactive introduction of new technologies to improve the quality of projects. Improve website efficiency in terms of SEO & pagespeed.'
								},
								{
									title: 'Insign AG',
									business:'Web-Publisher & Designer',
									time:'2008 – 2012',
									description:'Responsible for the technical implementation and design. Always striving for high quality and user-friendliness. Wide range of tools used. Including Wordpress, Typo3 and Magento, depending on client requirements and needs.',
								},
								{
									
									title: 'Gravure & Offset Printer',
									time:'until 2008',
									description:'Various stations through packaging and art industry as gravure & offset printer. Last station in Zofingen.',
								}
							],
							[
								{
									title: 'HKV Aarau',
									business:'Online Marketing Manager',
									time:'Nov 2023 - June 2024',
									description:'Extensive experience in providing SEO and PPC support to clients, as well as developing and analysing successful social media strategies with KPI reports. My focus is on content creation, community management and website optimisation, supported by trend and performance analysis.'
								},
								{
									title: 'Page Speed',
									description:'Conduct comprehensive pagespeed audits for websites to identify opportunities for improvement and if possible providing actionable insights. Evaluating factors such as compression, image optimisation, script loading and mobile optimisation. <br /><br />Working with designers and digital agencies to develop page speed optimisation services and ensure that aspects of page speed are considered in the early stages of development.',
								},
								{
									title: 'Search Engine Optimization (SEO)',
									description:'User experience is an integral part of SEO. Search engines aim to deliver the best possible results to users, so they consider factors such as website accessibility, navigation, and mobile responsiveness. Providing a seamless and user-friendly experience on your website can positively impact search engine rankings.',
								},
								// {
								// 	title: 'Open to new ideas and contributions',
								// 	description:'Usability is also very important in 2023. Responsive web design, which is so important for the mobile market and emphasises technical flexibility while taking the end devices of the users into account, is decisive for this trend.',
								// }
							]
						]}
					/>
				</article>
			</section>



			<section id="stats" class="pb-8 xl:pb-12 bg-white">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<div class="md:px-12">
							<h2 class="!mt-0 !mb-0 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl timeline__title">Skills & Expertise </h2>
						</div>
							
					</div>

					<Stats
						items={[
							{ name: 'HTML, CSS, SCSS, BEM, Tailwind & Zurb Foundation', value: '102' },
							{ name: 'Javascript, jQuery, GSAP, Astro, React', value: '102' },
							{ name: 'GIT, Gulp, Grunt - Package Management', value: '102' },
							{ name: 'SEO Analyzer, SEA Expert, Social Media Marketing Specialist', value: '102' },
							{ name: 'Adobe Creative Suite, Canvas, Easil, Leonardo & Flux', value: '102' },
							{ name: 'Quality, calm, disciplined, imaginative, analytical & meticulous', value: '102' },
						]}
					/>
				</article>
			</section>

			<section id="clients" class="clients pt-8 xl:pt-16 pb-10 xl:pb-20">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mt-0 !mb-5 !font-leadFont !font-normal !text-lg timeline__title">Selected websites I was involved in as a team member with <a href="https://www.mysign.ch">MySign</a> the E-commerce automation experts</h2>
					</div>

					<Clients
						items={[
							
							{ name: 'Baur’s', url: 'https://www.baurs-zurich.ch' },
							{ name: 'Baur au Lac Vins', url: 'https://www.bauraulacvins.ch' },
							{ name: 'Schubi Weine', url: 'https://www.schubiweine.ch' },
							{ name: 'Flyerline', url: 'https://www.flyerline.ch' },
							{ name: 'Mapo', url: 'https://www.mapo.ch' },
							{ name: 'Stadtbibliothek Basel', url: 'https://www.stadtbibliothekbasel.ch' },
							{ name: 'Fust', url: 'https://www.fust.ch' },
							{ name: 'Olwo', url: 'https://www.olwo.ch' }
						]}
					/>

				</article>
			</section>

			<section id="works" class="pt-8 pb-20 xl:pt-16 xl:pb-28  bg-stone-800 relative">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-0 !font-leadFont !font-normal !text-2xl !lg:text-3xl text-white">Selected gui</h2>
					</div>
				</article>
				
				<Cards
					items={[
						{ name: 'Buechehof', direction:'left', value: 'Maintain consistency throughout the interface in terms of visual elements, terminology, and interaction patterns. ', placeHolder: 'images/buechehof.jpg' },
						{ name: 'Flyerline', direction:'left', value: 'Create clear and logical structures that allow users to find information or perform tasks efficiently.', placeHolder: 'images/flyerline.jpg' },
						{ name: 'Mapo Relaunch 2023', direction:'left', value: 'Use visual cues such as typography, color, and spacing to establish a clear visual hierarchy in your interface. Highlight important elements and differentiate them from less important ones.', placeHolder: 'images/mapo.jpg' }, 
						{ name: 'Santa Lucia Delivery Service', direction:'left', value: 'Optimize your interface for different devices and screen sizes. Implement responsive design techniques to ensure that your GUI adapts seamlessly to various platforms.', placeHolder: 'images/santa-lucia.jpg' },
					]}
				/>


				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-white w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
					<polygon points="100 0 100 10 0 10"></polygon>
				</svg>
			</section>
		</main>
		<Footer footerClass="bg-white flex justify-center py-10" />
	</body>
</html>


<style>

h1 {
	text-wrap: balance;
}
.skill-bars {
	--bar-padding: var(--timeline-left-padding);
	margin-top: var(--vspace-2_5);
	display: flex;
	flex-flow: row wrap;
}

video {
	aspect-ratio: 9/16;
	margin-top: 0;
}

.about-grid {
	display: grid;display: grid;
  	gap: 1.5rem;
	@media (width > 48rem) {
		grid-template-columns: 2fr 1fr;
		gap: 3rem;
	}
}

h1 + p {
	margin-top: 0 !important;
}

</style>