---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from '@astrojs/image/components';
import { getCollection } from 'astro:content';

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import placeHolder from '/public/images/photo-index.jpg';

const blogEntries = (await getCollection('blog')).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="" description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col bg-fog-100">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-fog-100 py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-fog-100" />
	
		<main class="flex-grow flex-shrink-0">
			<section id="intro" class="py-4 xl:py-8 mb-8">
				<article class="max-width mx-auto">
					<Picture class="mb-5 lg:mb-10" src={placeHolder} widths={[320, 640, 1200]} aspectRatio="1200:600" width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp']} alt="my philosophy" />
					<div class="prose lg:prose-2xl mx-auto">
						<h1 class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4">
							Unleash the power of your digital presence: websites and social media with passion.
						</h1>
						<p>My passion for creating websites goes hand in hand with my fascination for design and technology. It offers the opportunity to combine creativity and technical know-how to create a digital presence that reaches people worldwide.</p>
						<p>My drive for innovative marketing concepts and creative social media channels motivates me to get the most out of the given possibilities and create an extraordinary source of great joy and satisfaction. In addition, my SEO measures and the optimisation of page speed ensure an outstanding online experience.</p>
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-3xl !lg:text-4xl !mt-0">You professional partner</h2>
						<p>The opportunity to bring a website to life and to experience the reactions and opinions of users is a constant source of joy for me. My sense of trends and my continuous education make me a strong partner in this field.</p>
						<figure class="flex justify-end !mt-0">
							<img src="images/signature.png" srcset="images/signature@2x.png 2x" alt="Michel Maillard" width="393" height="57" class="-rotate-1 max-w-[15rem] lg:max-w-none">
						</figure>
					</div>
				</article>
			</section>

			<section id="react" class="py-8 xl:py-16 bg-white">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">&lsaquo;React /&rsaquo;</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4">
							Little tools I built with React & Tailwindcss 
						</p>
						<p>
							<a href="https://github.com/hubpork/React-Tools" class=" !text-2xl">Github Repo</a> / 
							<a href="https://react-tools-beta.vercel.app/" class=" !text-2xl">Demo Link</a>
						</p>
					</div>
				</article>
			</section>

			<section id="about" class="pt-8 pb-20 xl:pt-16 xl:pb-28 bg-servette relative">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto text-white">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl !text-white">What i like, besides coding</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4 !text-white">
							I love the Funk! Get some Bootsie & James Brown!
						</p>
						<p>
							<a href="https://www.funkologie.com" class="!text-white !text-2xl">funkologie.com</a>
						</p>
					</div>
				</article>

				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-white w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
					<polygon points="100 0 100 10 0 10"></polygon>
				</svg>
			</section>
		</main>
		<Footer footerClass="bg-white flex justify-center py-10" />
	</body>
</html>

<style>

	h1, h2 {
		text-wrap: balance;
	}
	
</style>