---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from '@astrojs/image/components';
import { getCollection } from 'astro:content';

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import placeHolder from '/public/images/photo-index.jpg';

import FormattedDate from '@/components/FormattedDate.astro';

const blogEntries = (await getCollection('blog')).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="profile is perfected" description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col bg-fog-100">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-fog-100 py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-fog-100" />
	
		<main class="flex-grow flex-shrink-0">
			<section id="intro" class="py-4 xl:py-8 mb-8">
				<article class="max-width mx-auto">
					<Picture class="mb-5 lg:mb-10" src={placeHolder} widths={[320, 640, 1200]} aspectRatio="1200:600" width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp']} alt="my philosophy" />
					<div class="prose lg:prose-2xl mx-auto">
						<h1 class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4">
							Do you need a sustainable and professional profile?
						</h1>
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !text-3xl !lg:text-4xl !mt-0">My philosophy...</h2>
						<p>My passion to implement websites often goes hand in hand with a fascination for design and technology. It is an opportunity to combine creativity and technical know-how to create a digital presence that can reach people all over the world.</p>
						<p>Creating websites often requires detailed planning, spotting trends and constant training to stay up to date. The opportunity to bring a website to life and see the reactions and opinions of users is often a source of great joy and satisfaction for those who have dedicated themselves to this passion.</p>
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-3xl !lg:text-4xl !mt-0">Websites with passion become popular</h2>
						<p>The main task of a front-end developer is to integrate a responsive user interface (UI) website or web application that is easy to use. To work efficiently. With high quality standards, the presentation is perfected. This pleases all visitors. In addition, SEO measures and page speed optimization means maximizing the experience users have within their site. This is the producer's seal of quality.</p>
						<p>My sustainable and professional solution is, to make it a place your target audience loves to visit.</p>
						<figure class="flex justify-end !mt-0">
							<img src="images/signature.png" srcset="images/signature@2x.png 2x" alt="Michel Maillard" width="393" height="57" class="-rotate-1 max-w-[15rem] lg:max-w-none">
						</figure>
					</div>
				</article>
			</section>

			<section id="react" class="py-8 xl:py-16 bg-white">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">&lsaquo;React /&rsaquo;</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4">
							Little tools I built with React & Tailwindcss 
						</p>
						<p>
							<a href="https://github.com/hubpork/React-Tools" class=" !text-2xl">Github Repo</a><br />
							<a href="https://react-tools-beta.vercel.app/" class=" !text-2xl">Demo</a>
						</p>
					</div>
				</article>
			</section>

			<section id="about" class="pt-8 pb-20 xl:pt-16 xl:pb-28 bg-servette relative">
				<article class="max-width mx-auto">
					<div class="prose prose-xl max-w-[100%] lg:mx-auto text-white">
						<h2 class="!mb-3 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl !text-white">What i like, besides coding</h2>
						<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight !lg:leading-extra-tight my-4 !text-white">
							I love the Funk! Get some Bootsie & James Brown!
						</p>
						<p>
							<a href="https://www.funkologie.com" class="!text-white !text-2xl">funkologie.com</a>
						</p>
					</div>
				</article>

				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-white w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
					<polygon points="100 0 100 10 0 10"></polygon>
				</svg>
			</section>
		</main>
		<Footer footerClass="bg-white flex justify-center py-10" />
	</body>
</html>
